package web

templ NotFound() {
	<p>We're sorry, the page you have reached is either disconnected or out of service. If you have reached this message in error, please <a href="/">head back home</a> and try your call again.</p>
}
